main {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1.5rem;
    margin: 0 1.5rem 1.5rem;
    overflow: hidden;
}

.section:not(#chat) {
    padding: 1.5rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
}

.section#conversations {
    grid-column: 1;
    grid-row: 1;
}

.section#documents {
    grid-column: 1;
    grid-row: 2;
}

.section#chat {
    grid-column: 2;
    grid-row: 1 / span 2;
    padding-top: 2.5rem;
    position: relative;
    overflow: hidden;

    ul.header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        gap: 5px;

        > li {
            border: solid 1px var(--border-color);
            border-radius: 6px 6px 0 0;
            overflow: hidden;

            .content {
                position: relative;
                z-index: 0;
                padding: .6rem;
                background-color: var(--bg-second-color);

                p, button {
                    display: inline-block;
                    vertical-align: middle;
                }

                p {
                    color: var(--text-second-color);
                }

                button {
                    opacity: 0;
                    margin-left: 4px;
                }
            }
        }

        > li:hover .content button {
            opacity: .5;
        }

        > li.active .content {
            z-index: 20;
            background-color: var(--bg-color);
            border-bottom: solid 3px var(--bg-color);

            p {
                color: var(--text-color);
            }

            button {
                opacity: 1;
            }
        }
    }

    .conv {
        height: 100%;

        .chat-conversation {
            position: relative;
            z-index: 15;
            height: 100%;
            display: grid;
            align-items: center;
            grid-template-rows: 1fr;
            background-color: white;
            border: solid 1px var(--border-color);
            border-radius: var(--border-radius);

            .default {
                display: none;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                max-width: 30rem;
                margin: auto;

                img {
                    margin-bottom: 1rem;
                }
            }

            ul.messages {
                height: 100%;
                overflow-y: auto;
                padding: 1.5rem;
            }

            ul.messages > li {
                padding: .6rem;
                border-radius: var(--border-radius);
                margin-bottom: 1rem;
                width: fit-content;
                max-width: 80%;
                animation: popIn .125s ease;
            }
            ul.messages > li > *:first-child {
                margin-top: 0;
            }
            ul.messages > li > *:last-child {
                margin-bottom: 0;
            }

            ul.messages > li.history {
                animation: none;
            }
            ul.messages > li.assistant {
                background-color: var(--bg-second-color);
                margin-right: auto;
                transform-origin: bottom left;
            }
            ul.messages > li.user {
                background-color: var(--accent-color);
                margin-left: auto;
                transform-origin: bottom right;
                color: white;

                * {
                    color: white;
                }
            }

            .entry {
                position: relative;
                margin: 0 1.5rem 1.5rem;

                input {
                    width: 100%;
                }

                button {
                    position: absolute;
                    top: 50%;
                    right: 1rem;
                    transform: translateY(-50%);
                }
            }
        }
        .chat-conversation.empty .default {
            display: flex;
        }
    }
}


@keyframes popIn {
    from {
        transform: scale(.3);
    }
    to {
        transform: scale(1);
    }
}